.page-inner {
    max-width: 80% !important;
}
.gitbook-link {
    display: none !important;
}
.fa {
    font:normal normal normal 11px/1 FontAwesome !important;
    font-size: 11px !important;
}
.navigation.navigation-prev {
    display: none !important;
}
.navigation.navigation-next {
    display: none !important;
}

/*.page-toc-button{*/
/*    width: 40px !important;*/
/*    height: 40px !important;*/
/*}*/

.page-toc-button i{
    left: 19px !important;
    top: 16px !important;
    font-size: 14px !important;
}

.page-toc-button {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    display: block;
    position: fixed;
    top: 68px;
    right: 25px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    -webkit-border-radius: 35px;
}