.page-inner {
    max-width: 80% !important;
}
.book .book-body {
    max-width: 80%;
}

.page-wrapper {
    width: 80%;
}

.navigation.navigation-prev {
    display: none !important;
}
.navigation.navigation-next {
    display: none !important;
}